<div class="container all-teams">
	<h1>All Teams</h1>
	<ul class="posts">
	  <% @teams.reverse_each do |team| %>
	    <li>
	      <p><%= l team.created_at, format: :short %></p>
	      <%= link_to team.name, team %>
	    </li>
	  <% end %>
	</ul>
</div>