.profile{
	li{
		list-style: none;
		border-bottom: 1px solid #ccc;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	ul{
		padding-left: 0;
		border-top: 1px solid #ccc
	}
	li a{
		font-size: 21px;
	}
}
.team-profile{
	li{
		list-style: none;
		border-bottom: 1px solid #ccc;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	ul{
		padding-left: 0;
		border-top: 1px solid #ccc
	}
	li a{
		font-size: 21px;
	}
}
.all-teams{
	li{
		list-style: none;
		border-bottom: 1px solid #ccc;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	ul{
		padding-left: 0;
		border-top: 1px solid #ccc
	}
	li a{
		font-size: 21px;
	}
}
.interface{
	li{
		list-style: none;
		border-bottom: 1px solid #ccc;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	ul{
		padding-left: 0;
		border-top: 1px solid #ccc
	}
	li a{
		font-size: 21px;
	}
	.teams form{
		padding-top: 15px; 
	}
}
.join{
	li{
		list-style: none;
		border-bottom: 1px solid #ccc;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	ul{
		padding-left: 0;
		border-top: 1px solid #ccc
	}
	li a{
		font-size: 21px;
	}
	.teams form{
		padding-top: 15px; 
	}
}

